<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="team(teamDis)">
    <h2 th:text="${teamDis.teamName}"></h2>
    <div class="list">
        <div class="table" th:each="distributionData : ${teamDis.distributions}">
            <div class=".caption" th:text="${distributionData.caption}"> Caption</div>
            <div class="row" th:each="statEntry : ${distributionData.entries}">
                <div class="entry-label" th:text="${statEntry.label}">Label</div>
                <div class="entry-percentage">
                    <span class="entry-percentage__bar" th:if="${statEntry.relativePercentage} > 0"
                          th:style="'width:' + ${statEntry.relativePercentage} + '%'"></span>
                    <span class="entry-percentage__value" th:text="${statEntry.totalPercentage} + '%'">Percentage</span>
                </div>
                <div class="entry-count" th:text="${statEntry.count}">Count</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>