<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="team(teamDis)">
    <h2><span th:text="${teamDis.teamName}" th:remove="tag"></span>
        <div class="race" th:text="'(' + ${teamDis.race} + ')'"></div>
        <div class="coach" th:text="'Coached by ' + ${teamDis.coach}"></div>
    </h2>

    <div class="list">
        <div class="table" th:each="distributionData : ${teamDis.distributions}">
            <div class=".caption" th:text="${distributionData.caption} + ' (' + ${distributionData.sum}+ ')'"> Caption
            </div>
            <div class="row" th:each="statEntry : ${distributionData.entries}">
                <div class="entry-label" th:text="${statEntry.label}">Label</div>
                <div class="entry-percentage">
                    <span class="entry-percentage__bar" th:if="${statEntry.relativePercentage} > 0"
                          th:style="'width:' + ${statEntry.relativePercentage} + '%'"></span>
                    <span class="entry-percentage__value" th:text="${statEntry.totalPercentage} + '%'">Percentage</span>
                </div>
                <div class="entry-count" th:text="${statEntry.count}">Count</div>
            </div>
        </div>
        <div class="table" th:with="distributionData = ${teamDis.blockDistribution}">
            <div class=".caption" th:text="${distributionData.caption} + ' (' + ${distributionData.sum}+ ')'"> Caption
            </div>
            <div class="row" th:each="statEntry : ${distributionData.entries}">
                <div class="entry-label"><img th:src="@{/icons/{icon}.png(icon=${statEntry.label.toLowerCase()})}" th:alt="${statEntry.label}"/></div>
                <div class="entry-percentage">
                    <span class="entry-percentage__bar" th:if="${statEntry.relativePercentage} > 0"
                          th:style="'width:' + ${statEntry.relativePercentage} + '%'"></span>
                   <div class="entry-percentage__value" th:text="${statEntry.totalPercentage} + '%'">Percentage</div>
                </div>
                <div class="entry-count" th:text="${statEntry.count}">Count</div>
            </div>
        </div>
    </div>
</section>
</body>
</html>